/* Inserta tu CSS aqui */
div{
	width: 200px;
	height: 200px;
	position: absolute;

}
body{
	margin: 0;
	padding: 0;
}
.casiRojo{
	background: #ee3e64;
	left: 0;
	top: 0;
}
.casiAzul{
	background:#1a75ff;
	right: 0;
	top:0;

}
.casiVerde{
	background: #b7d84b;
	left:0;
	bottom: 0;
}
.amarillo{
	background: #ffff00;
	right: 0;
	bottom: 0;
}